---

---

<div class="blogPosting">

     <slot />
     
</div>

<style>
  .blogPosting{
    width:76%;
  }

  .blogPosting :global(p) {
          color:red;
    font-size: 25px;
  }
  .blogPosting :global(li) {
    background-color: aqua;
  }
</style>

