---
import Layout from "../../layouts/Layout.astro"

const writeups = await Astro.glob('./post/*.md')


---
<Layout>
    <h1>Steps and write up about the SAAS that I have always wanted to build.</h1>


<h3>Listing of all project writes ups</h3>
<ul>
{writeups.map(x=>{
    const {title, file}=x.frontmatter
        return(
        <h2>{title}</h2>
        <a href={x.url}>Read more</a>
        // {JSON.stringify(writeups)}
    )
})}

</ul>
</Layout>
