---
const {locGo="./", title="home"}= Astro.props
---

<div class="grid place-items-center text-accent border bg-myDark m-2 p-2 w-24 rounded font-extrabold text-lg">
 <a href={locGo}>{title}</a>
</div>